.review_container{
    width: 540px;
    background-color: #fff;
    min-height: 200px;
    text-align: center;
    padding: 1rem;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(195, 214, 248);
}

.underlined{
    position: relative;
    padding-bottom: 0.6rem;
    font-size: 2rem;
    font-family: montsbold;
}

.underlined::after{
    content: "";
    position: absolute;
    width: 5rem;
    height: 3px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    bottom: 0;
    left: 50%;
}

.photo{
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem;
}

.muted{
    opacity: 0.6;
}

.about_user{
    margin: 1rem 0;
    font-size: 14px;
}

.icons{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.icn_btn{
    color: #fff;
    font-size: 1.5rem;
    background-color: rgb(195, 214, 248);
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 500ms ease-in-out;
}

.icn_btn:hover{
    background-color: rgb(154, 188, 247);
}

.btn3{
    margin-top: 10px;
}